<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script>
        $(document).ready(function(){
            $('#nav_item_home').addClass('active');
        });
    </script>
</head>
<body>
    <header>
        <% include partials/user_nav %>
    </header>
    <main>
        <div class="jumbotron text-center">
            <div class="container">
            <h1>voting-app</h1>
            <% if (owner == 'user') { %>
            <p>Below are your polls.</p>
            <% } else if(owner == 'app'){ %>
            <p>Below are polls hosted by voting-app.</p>
            <% } %>
            <p>Select a poll to see the results and vote<a href="/new_poll">, or make a new poll!</a></p>
                <% if (poll_remove_error.length > 0) { %>
                <div class="alert alert-danger"><%= poll_remove_error %></div>
                <% } %>
                <% if (poll_remove_success.length > 0) { %>
                <div class="alert alert-success"><%= poll_remove_success %></div>
                <% } %>
            <% include partials/polls %>
        </div>
        </div>
    </main>
</body>
</html>