<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <script src="https://cdn.rawgit.com/konvajs/konva/1.1.0/konva.min.js"></script>
    <script src="/javascripts/konva_chart.js"></script>
    <script>
        $(document).ready(function(){
            $('#nav_item_home').addClass('active');
        });
    </script>
</head>
<body>
<header>
    <% include partials/user_nav %>
</header>
<main>
    <% if (poll_error.length > 0) { %>
    <div class="jumbotron"><div class="container"><p><%= poll_error %></p></div></div>
    <% } else {%>
    <% include partials/poll_chart %>
    <% } %>
</main>
</body>
</html>